

<div class="card text">
  <h4 class="text"><a href="/"> <- go back </a></h4>
  <h2 class="text"> New link </h2>
<%= form_with model: @link do |form| %>
  <div>
    
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
    
    <br>

    <%= form.label :link %>
    <br>
    <%= form.text_field :link %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>